*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
}

.header-content, .title-content, .posts-content, .latest-posts-name {
    max-width: 1200px;
}

/* Header styles */
.header {
    top: 0;
    left: 0;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


.header-link {
    display: inline-block;
    padding: 40px;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}
.grey-line-header {
    border-color: #E5E5E5;;
}

/* Header styles end */
/* Title styles */
.title {
    padding-top: 60px;
    width: 100%;
}

.title-content {
    display: flex;
    margin: 0 auto;
    gap: 50px;
    padding-bottom: 35px;
}


.title-text {
    padding: 5px 1px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.title-text-illustration {
    padding-bottom: 18px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

h1, h3, h4 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
}


h1 {
    width: 429px;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 28px;
}

.title-main-inf {
    padding-bottom: 28px;
    padding-right: 11px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.title-author {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
/* Title styles end */
/* Posts styles */
.posts {
    width: 100%;
}

.posts-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 50px;
    margin: 0 auto;
    padding-bottom: 65px;
}
.posts-content_small {
    grid-template-columns: repeat(4,1fr);  
}

.posts-content_large {
    grid-template-columns: repeat(2,1fr); 
}


.post-cards-text {
    padding-top: 19px;
}


h4 {
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    text-transform: uppercase;
    color: #000000;
}

.post-cards-names {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.grey-line {
    width: 1200px;
    margin: 0 auto;
    border-color: #E6E6E6;
}

/* Posts styles end */
/* Latest posts styles start */
.latest-posts {
    padding-top: 90px;
    padding-bottom: 90px;
}

.latest-posts-name {
    padding-bottom: 30px;
    margin: 0 auto;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.latest-cards-img {
    padding-bottom: 20px;
}


.grey-word {
    padding-bottom: 18px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

h3 {
    padding-bottom: 15px;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.cards-author-name {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.latest-btn {
    width: 205px;
    display: block;
    margin: 0 auto;
}
.btn {
    padding: 21px 26px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
/* Latest posts styles end */
/* Featured posts styles start */
.featured-posts {
    padding-top: 90px;
    padding-bottom: 65px;
}

.featured-cards-img {
    padding-bottom: 20px;
}
/* Featured posts styles end */
/* Footer styles start */
.footer {
    background-color: #141414;;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 89px;
    padding-bottom: 89px;
}

.footer-logo {
    display: flex;
    gap: 15px;
    padding-bottom: 60px;
}

.footer-logo-text {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}

.grey-line-footer {
    width: 1200px;
    height: 1px;
    margin: 0 auto;
    border-color: #4D4D4D;
}

.footer-main-inf {
    padding-top: 60px;
}

.footer-categories {
    display: flex;
}
.footer-main-categories {
    width: 100%;
    margin: 0 auto;
}
.footer-grey-word {
    padding-bottom: 20px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}

.categories-rows {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}


.categories-list {
    flex-basis: 50%;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-categories-input {
    width: 300px;
}
.input-field {
    display: flex;
}
input {
    padding: 18px 24px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}
textarea:focus, input:focus {outline: none;}

.input-btn {
    width: 79px;
    background: #000000;
}

.input-btn p {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-contacts {
    display: flex;
    padding-top: 55px;
}
.footer-column {
    width: 225px;
}
li {
    padding-bottom: 10px;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
/* Footer styles end */